#About{
    display: flex;
    flex-direction: column;  
    .body{ 
    display: flex;
    align-items: center;
    gap: 1.5rem; 
    min-height: 75vh;
    padding-inline:10vw ; 
    min-height: 78vh;
    background-color: transparentize($color: #000000, $amount: 0.2);
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.2rem;
        padding: 1rem;
        background-color: yellow;
        width: 30%;
        border-radius: 1rem;
        box-shadow: 2px 2px 13px rgba($color: yellow, $alpha: 1.0);
        
        img{
           height:5rem;
        }
        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            
        h1{
            font-size: 1.3rem;
        }
        p{
            color: #333333;
            font-weight: 400;
            width:80%;
            line-height: 1.3rem;
            text-align: center;
        }
    }
    }

    
}}
@media (max-width:768px){
    #About{
        
        .body{
            flex-direction: column;
            padding: 2rem;
            .container{
            width: 100%;

            }
    }}
}
