footer{
    padding-inline:10vw ;
    background-color:#333333;
    p{
      text-align: center;
      color: transparentize($color: white, $amount: 0.4);
      font-size: 1rem;
      padding: 2rem;
      
    }

}
.why_container{
    display: flex;
    gap: 2rem;
    background-color: #333333;
}

  
  .why_section .box .img-box {
    min-width: 90px;
    min-height: 90px;
    background-color: #333333;
    border-radius: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .why_section .box .img-box img {
    max-width: 30px;
    -webkit-transition: all 1s;
    transition: all 1s;
   
  }
  .box {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #333333;
    
  }
  .why_section {
    background-color: #ffffff;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  .why_section .box .img-box .img-2 {
    display: none;
    opacity: 0;
  }
  
  .why_section .box .detail-box h5 {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    color:  yellow;
  }
  
  .why_section .box .detail-box p {
    text-align: center;
    font-size: 0.8rem;
    color: transparentize($color: white, $amount: 0.4);
    
  }
  

  
  .why_section .box:hover .img-box {
    background-color: yellow;
  }
  
  .why_section .box:hover .img-box .img-1 {
    display: none;
    opacity: 0;
  }
  
  .why_section .box:hover .img-box .img-2 {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    opacity: 1;
  }
@media(max-width:768px){
footer{
  .why_container{
    flex-direction: column;
  }
  p{
    width:100%;
  }
}
}
  